

<div id="font">
    <h3>welcome Volunteer</h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class = "col-md-2" style="background-color: rgb(223, 248, 217);">
   
    </div>
    <div class = "col-md-10">

        <div class="container-fluid">
            <div class="row">
            <div class ="col-md-3">
              <mat-card style="background-color: #ebbfe3;">
                <mat-card-title>Make a Request to Admin</mat-card-title>
                <mat-card-content>
                  <button mat-raised-button (click)="openDialog()">Pick one</button>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
                <mat-card-footer>Mwangaza 2022</mat-card-footer>
              </mat-card>
            </div>
           
            <div class ="col-md-3">
              <mat-card style="background-color: #ecb9b5;">
                <mat-card-title>View Admins Request</mat-card-title>
                <mat-card-content>
                  <button mat-raised-button (click)="openDialog2()">Pick one</button>
                </mat-card-content>
                <mat-card-actions></mat-card-actions>
                <mat-card-footer>Mwangaza 2022</mat-card-footer>
              </mat-card>
            </div>
              <div class ="col-md-3">
                <mat-card style="background-color: #d4caec;">
                  <mat-card-title>hahahhaha</mat-card-title>
                  <mat-card-content>hehehhe</mat-card-content>
                  <mat-card-actions></mat-card-actions>
                  <mat-card-footer>Mwangaza 2022</mat-card-footer>
                </mat-card>
              </div>
             
              <div class ="col-md-3">
                  <mat-card style="background-color: #ecc7c7;">
                    <mat-card-title>Contact Form Info</mat-card-title>
                    <mat-card-content>View Contact and view their Message
                    </mat-card-content>
                    <mat-card-actions></mat-card-actions>
                    <mat-card-footer>Mwangaza 2022</mat-card-footer>
                  </mat-card>
                </div>
            </div>
    </div>
</div>