<app-navbar></app-navbar>
<div class="land">
    <div class="over">
        <br><br><br><br><br>
        <h1 class="text-center" id="one">
       
            Mwangaza Little Readers</h1>
        <br><br>
        <h1 class="desc"><i>Your reliable,Inovative,Inspirational books collections</i></h1>
        <br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-5"> </div>
                <div class="col-md-2"> <button class="text-center" class="btnn">Get Started</button></div>
                <div class="col-md-5"></div> <br><br><br><br>
            </div>
        <div>
       
    </div>
</div>
<div id="about">
    <br><br>
    <h1 class="text-center" id="onee">
        Creating a Culture of Life Long Readering in Kenya
    </h1>
    <div class="row" id="cross">
        <div class="col-md-4">
            <br><br>
            <mat-card>Simple card
             
            </mat-card>

            
        </div>
        <div class="col-md-4"> </div>  
        <div class="col-md-4">


        </div>
    </div>
<div>
<div>   

    <!-- <h1>
        <span>M</span>
        <span>w</span>
        <span>a</span>
        <span>n</span>
        <span>g</span>
        <span>a</span>
        <span>z</span>
        <span>a</span>

    </h1> -->

</div>   

<br><br><br><br>