<app-navbar></app-navbar>

<div class="container-fluid">
  
   
  </div>
  

<div id="about">
    <br><br>
    <h1 class="text-center" id="onee">
        Cultivating a culture of lifelong reading in Kenya
    </h1>
<br><br><br>
    <div class="container" id="welcome">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 style="color: blue; font-size: xx-large;" class="text-center"> Welcome to Mwangaza Little Readers</h1>
                <h2 class="text-center">Mwangaza Little Readers is a project with a main aim of creating Libraries, Enhancing children leading skill through readings</h2>
                <br><br>
                <h2 class="text-center">Since 2019 we have been able to inpact more than 700 children and teachers in some schools.
                </h2>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </div>
    <br><br><br>
    <div class="container" id="info">
        <div class="row">
            <div class="col-md-4" style="background-color: #42ba96;">
                <br><br><br><br><br> 
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-building-o" fa-5x></i> </h1>
                <h1 class="text-center" style="color: aliceblue;">Building Libraries </h1>
                <br>
                <h3 class="text-center" style="color: white;">To Provide Equal Access to Resources</h3>
                <h3 class="text-center" style="color: white;">To Encourage a Lifetime of Learning</h3>
            </div>
            <div class="col-md-4" style="background-color: #31b459;">
                
                <br><br><br><br><br>
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-book" aria-hidden="true"></i> </h1>
                <h1 class="text-center" style="color: aliceblue;">Enhancing Libaries</h1>
                <br>
                <h3 class="text-center" style="color: white;">Supported cognitive development.</h3>
                <h3 class="text-center" style="color: white;">Preparation for academic success.</h3>
                
            </div>
            <div class="col-md-4" style="background-color: #425eba;">
                <br><br><br><br><br>
                <h1 class="text-center" style="font-size:500%; color: aliceblue;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> </h1>
                <h1 class="text-center" style="color: aliceblue;"> Motivating Young minds</h1>
                <br>
                <h3 class="text-center" style="color: white;">Children who're motivated know what they want in life</h3>
                <h3 class="text-center" style="color: white;"> They don't quit but fearlessly chase their dreams and objectives.</h3>
               
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class= "backgro" style="background-color: rgb(235, 240, 239);">
    <h1 id="welcome" class="text-center" style="font-weight: 900; color: #425eba;"><b>Mwangaza Develoment Statistics</b></h1>
    <br><br>
    <h2 class="text-center">Mwangaza Believes in giving Statistics as a way of marking our progress and enhancing our relation and transparency</h2>
    <br>
    <h2 class="text-center">Here are some of Statistics we have been able to record</h2>
    <br><br><br>

    <br><br><br>
    <div class="container">
        <div class="row">
            <div class= "col-md-4">
                <div class ="container">
                    <div class="row">
                        <div class="col-md-3"> <h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-child" aria-hidden="true"></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">700+ Children Benefited</h1>
                            <h3 class="text-center"> We have impacted more than seven hundred children through our programs</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <div class="row">
                        <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-building-o" fa-5x></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">3 Libraries Built</h1>
                            <h3 class="text-center"> We have built three Libaries to create a favourable environment for kids</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class= "col-md-4">
                <div class ="container">
                    <div class="row">
                        <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-book" aria-hidden="true"></i> </h1></div>
                        <div class="col-md-9">
                            <h1 class="text-center">1085+ Books Donated </h1>
                            <h3 class="text-center"> Mwangaza has supplied more than one thousand and eighty five books to differents schools</h3>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
 <br><br> <br>


    
 <div class="container">
    <div class="row">
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"><h1 class="text-center" style="font-size:500%; color: rgb(18, 130, 228);"><i class="fa fa-heart-o" aria-hidden="true"></i> </h1></div>
                    <div class="col-md-9">
                        <h1 class="text-center">700+ Motivated Minds</h1>
                        <h3 class="text-center">Mwangaza ensures that they give advise to children to make them more persuaded to achive their dreams</h3>
                    </div>
                </div>
            </div>
        </div>
    
        <div class= "col-md-4">
            <div class ="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-9"></div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<br><br><br>
<div  id="ham">
    <div id="overlay1" class="container-fluid">
            <br><br><br><br><br><br><br><br><br><br>
            <h1 class="text-center" style="color: white; " id="support"><b>Support Our Work!</b></h1>
            <br><br><br><br>
            <h2 class="text-center" style="color: aliceblue; " id="supportid"> <b>Your Donation Encourages Us To Set As Many Projects As Possible for More Children to Benefit </b></h2>
            <br><br><br><br><br>
            <div class="text-center"><a href="donate"><button mat-flat-button color="accent"><h2>Make A Donation</h2></button></a></div>
            <br><br><br><br><br><br>
            
           
    </div>

</div>
<br><br>
<div class="text-center" id="whyy"><h1 style="font-size: xx-large;"><b>Why Are Our Projects Important ...</b></h1></div>
    <div class="row" id="cross">
        <div class="col-md-4">
           
                   
                <!-- <img class="hel" src="../assets/photos/img1.png" alt=""> -->
                
            <br><br>
            <mat-card class="card1">
                <h3>Social Reasons</h3>
                <p>There is strong evidence that reading for pleasure can increase empathy, improve relationships with others, reduce the symptoms of depression and the risk of dementia, and improve wellbeing throughout life. ... Reading can also help children develop empathy and promote their emotional wellbeing in all sorts of ways</p>
            </mat-card>
            <br>
            <mat-card class="card1">
                <h3>Psychological Reasons</h3>
                <p>Reading promotes greater maturity, increases discipline and lays the basis for moral literacy. It sparks curiosity about people, places and things and also satisfies the child's curiosity by providing explanations of how things work. It exposes the child to a range of problem-solving techniques.In addition, early reading ignites the child's creativity & imagination.</p>
            </mat-card>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <br><br>
            <mat-card class="card1">
                <h3>Education Purposes</h3>
                <p>Exposure to different viewpoints: One purpose of assigned academic readings is to give students exposure to different viewpoints and ideas. ... Such experience can help you wrestle with ideas and beliefs in new ways and develop a better understanding of how others' views differ from your own.</p>
            </mat-card>
            <br>
            
            <mat-card class="card1">
                <h3>Ligusitic Reasons</h3>
                <p>Reading is a complex and purposeful sociocultural, cognitive, and linguistic process in which readers simultaneously use their knowledge of spoken and written language, their knowledge of the topic of the text, and their knowledge of their culture to construct meaning with text.</p>
            </mat-card>
            <br>
            <mat-card class="card1">
                <h3>Reading For Fun</h3>
                <p> Having a strong imagination isn’t just for kids. While we can have the tendency to grow out of our imaginative, creative selves as we get older, imagination and creativity are skills that can be applied in any environment. Expand your imagination through learning and experiencing stories and information from nonfiction and fiction books, magazines and articles.</p>
            </mat-card>
            <br><br>
        </div>
       
        
    </div>
<div>

<div>   
</div>   
<br><br>
<div class="groups">
    <h1 class="text-center">Benefits of Stories and Books to children</h1><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              
                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <p>Develops literacy skills & language</p>
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons.flaticon.com/png/128/677/premium/677684.png?token=exp=1638225157~hmac=7d2333e2a3729eaf518ad1c6004b0927" alt="" style="width: 10%;" class="text-center">
                <br>
                <p>Exposes children to a wide range of language & vocabulary</p>
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/128/61/61191.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <p>Stimulates imagination & play</p>
            </div>
        </div>
    </div>
    <br><br>    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/128/61/61191.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <h2>Provokes curiosity and discussion</h2>
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons.flaticon.com/png/128/677/premium/677684.png?token=exp=1638225157~hmac=7d2333e2a3729eaf518ad1c6004b0927" alt="" style="width: 10%;" class="text-center">
                <br>
                <h2>Fills a child's mind with knowledge</h2>
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons-png.flaticon.com/128/1828/1828884.png" alt="" style="width: 10%;" class="text-center">
                <br>
                <h2>Provides quietness & calmness in their busy lives</h2>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-4">
                <img src="https://cdn-icons.flaticon.com/png/128/2608/premium/2608231.png?token=exp=1638225952~hmac=fd413b7e3f70640efabd8c1e022b841b" alt="" style="width: 10%;" class="text-center">
                <br>
                <h2>Teach Moral Lessons and Culture</h2>
            </div>
            <div class="col-md-4">
          
            </div>
        </div>
    </div>
</div>    



<br>
<div class=footer>
    <app-footer></app-footer>
</div>



