mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}


.logo{
    width: 70%;
    height: auto;
}
.nav-link{
    float: right;
    color: black;
}

#black{
    color:black;
    float: right;
}
.navbar-inverse .navbar-toggle{
    color: black;
}

.navbar-inverse .navbar-toggle .icon-bar{
    color: brown;
}