

    <app-navbar></app-navbar>

<div class="header">
    
    <div class="background" >
        <div class="over">
           <br><br><br><br><br><br>
       <h1 class="text-center" id="one" >
           Mwangaza Library Projects
       </h1>
       <br><br><br><br><br><br>
        </div>
                
       </div>
    <div>
</div>
<div class="body"> 
 
<br><br>
    <div class="container">
        <div class="row">
            <h1 class="text-center"><i>Building Libraries</i></h1>
            <div class="col-md-6" id="class1">
                <br><br>
                <h3>Mwangaza Little Readers is commited to building Libraries for students for the following reasons:</h3>
                <ul>
                    <li>They offer free educational resources to everyone.</li>
                    <li>They play an important role in languages learning enhancement.</li>
                    <li>Libraries make communities healthier through young education.</li>
                    <li>They preserve history, and more importantly, truth.</li>
                    <li>Libraries help connect communities.</li>
                </ul>
            </div>
            <div class="col-md-6" id="class2">
                <img src="https://media.istockphoto.com/vectors/vector-isometric-library-building-vector-id1044307676?k=20&m=1044307676&s=612x612&w=0&h=3XvikGd2D8io5DZAwzsNeRNTuP5ks28o0ndAxKpMj4E=" alt="">
            </div>
            <br><br>
        </div>
        <div class="row">
            <br><br>
            <h1 class="text-center"><i>Enhancing Libraries</i></h1>
            <div class="col-md-6" id="class3">
                <br><br>
                <img src="https://www.publishersweekly.com/images/cached/ARTICLE_PHOTO/photo/000/000/071/71143-v1-600x.JPG" alt="">
            </div>
            <div class="col-md-6" id="class4">
                <br><br><br>
                <h3>Mwangaza Little Readers enhance already made Libraries but have inadequates resources to enable them meet ther required stardards through:</h3>
                <ul>
                    <li>Enhancing and Repairing Infrastructures</li>
                    <li>Buying Books and Stories for the Library</li>
                    <li>Employing staffs who will help in Library running</li>
                    <li>Bringing new Infrastructure in the library</li>
                </ul>
            </div>
        </div>
        <br><br>
        <div class="row">
           
            <h1 class="text-center"><i>Motivating Students</i></h1>
            <br><br> <br><br>
            <div class="col-md-6" id="class5">
                <br><br><br>
                <h3>Mwangaza Little Readers through the volunteers and partners help in motivation and naturing of young minds for the following aims</h3>
                <ul>
                    <li>Motivation fosters creativity and critical thinking</li>
                    <li>Motivation cultivates resilience and self-assurance</li>
                    <li>Encourage self-efficacy</li>
                    <li>Normalise the struggle</li>
                    <li>Develop optimally challenging, mastery-oriented goals</li>
                
                </ul>
            </div>
            <div class="col-md-6" id="class6">
                <img src="https://ied.eu/wp-content/uploads/2018/06/motivation.png"  alt="">
            </div>
        </div>
    </div>
   
<br><br>
</div>
<div class=footer>
    <app-footer></app-footer>
</div>