<app-navbar></app-navbar>
<div class="background" >
    <div class="over">
       <br><br><br><br><br><br>
   <h1 class="text-center" id="one" >
       Our Mission
   </h1>
   <br><br><br><br><br><br>
    </div>
   
   </div>

<div class="container">
    <div class="row">
        <div col-md-2></div>
        <div col-md-8>
            <br><br><br>
            <h3 class="text-center" style="font-size: xx-large;"> Our Mission</h3>
            <br><br>
            <h3 class="text-center">Mwangaza aims to reach a target of 20,000 libraries and is working hard to achieve this goal. </h3>
            <h3 class="text-center">Mwangaza is open to getting partners or volunteers who will join our journey to achieve this great milestone.</h3>
            <h3 class="text-center">We are committed to ensuring that we can be able to reach as many rural schools as possible through this library program.</h3>
            <h3 class="text-center">Mwangaza has been able to achieve one major milestone of completing a library in Kongoini Primary school Murang'a County.</h3>
          
        </div>

        <div col-md-2></div>
    </div>
    
</div>

<br><br><br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="text-center" style="font-size: xx-large;">Our Kongoini Mwangaza Moment</h1>
            <br>
           
        </div>
        <div class="col-md-1"></div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img class="img11" src="./assets/photos/achievement.jpeg" alt="">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>


<br>
<div class=footer>
    <app-footer></app-footer>
</div>
