

<div id="font">
    <h3>Welcome Admin <b><span style="text-transform:uppercase">{{username}}</span></b> to your dashboard</h3>
</div>



<div class="container-fluid">
    <div class="row"> <br><br>
        <div class ="col-md-2">
    
        </div>
        <div class=col-md-10>
            <div class="container">
                <div class="row">
                <div class ="col-md-4">
                  <mat-card style="background-color: #B565A7;">
                    <mat-card-title>hahahhaha</mat-card-title>
                    <mat-card-content>hehehhe</mat-card-content>
                    <mat-card-actions></mat-card-actions>
                    <mat-card-footer>hohohooh</mat-card-footer>
                  </mat-card>
                </div>
               
                <div class ="col-md-4">
                    <mat-card style="background-color: #FF6F61;">
                      <mat-card-title>hahahhaha</mat-card-title>
                      <mat-card-content>hehehhe</mat-card-content>
                      <mat-card-actions></mat-card-actions>
                      <mat-card-footer>hohohooh</mat-card-footer>
                    </mat-card>
                  </div>
             
            </div>
        
        
        
            <br><br><br>
        </div>
        
        
        
        <div class="container">
            <div class="row"> <br><br>
                <div class ="col-md-4">
                  <mat-card style="background-color: #6B5B95;">
                    <mat-card-title>hahahhaha</mat-card-title>
                    <mat-card-content>hehehhe</mat-card-content>
                    <mat-card-actions></mat-card-actions>
                    <mat-card-footer>hohohooh</mat-card-footer>
                  </mat-card>
                </div>
               
                <div class ="col-md-4">
                    <mat-card style="background-color: #955251;">
                      <mat-card-title>Contact Form Info</mat-card-title>
                      <mat-card-content>View Contact and view their Message</mat-card-content>
                      <mat-card-actions></mat-card-actions>
                      <mat-card-footer>Mwangaza 2022</mat-card-footer>
                    </mat-card>
                  </div>
                  <div class=col-md-1> </div>
            </div>
        
        
        
            <br><br><br>
        </div>
        </div>
    </div>   
</div>    
   