
<div class="navba">
    <app-navbar></app-navbar>
</div>

<div class="background" >
 <div class="over">
    <br><br><br><br><br><br>
<h1 class="text-center" id="one" >
    About Us 
</h1>
<br><br><br><br><br><br>
 </div>

</div>
<div>
    <div></div>
    <br><br>
   
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mission">
                    <h1>Mwangaza Mission</h1>
                    <h3>“To enrich lives and communities through universal access to knowledge, lifelong learning, and literacy through mordern education enhancement.” </h3>
            
                </div>
            </div>
            <div class = "vertical"></div>
            <div class="col-md-6">
                
                <div class="vision">
                    <h1>Mwangaza Vision</h1>
                    <h3>“To develop strong library branches that are vital community destinations for knowledge, inspiration, innovation, and renewal.”</h3>
                </div>
            </div>
        </div>    
    </div>
    <br><br>
</div>
<div class=footer>
    <app-footer></app-footer>
</div>